{{outlet}}

<div class="layout-row layout-wrap projects">
    <div class="flex-100 project layout-column layout-wrap">
        <div class="flex-100">
            <div class="content">
                <h1>SitStay</h1>
                <p>
                    SitStay is a project lead by a couple of brilliant Australian entrepreneurs, with the goal of providing personal Veterinarian Nurse services outside of the clinic. The whole app is being built by myself from scratch, started late April.
                    SitStay is currently not available to the public, so there isn't a link I can provide :(
                </p>
            </div>
            
            {{slide-view slides=model.sitStaySlides}}
        </div>
    </div>
    <div class="flex-100 project layout-column layout-wrap">
        <div class="flex-100">
            <div class="content">
                <h1>Blufish</h1>
                <p>
                    A Conference Management App currently used in production by an organization called ACPE Northwest. Before, their design was built using an old version of Bootstrap - compared to today's technology, it was hard to customize and maintain. I took part in a major redesign, and added all sorts of functionality.
                    See for yourself: <a href="http://events.acpenw.org/" target="_blank">ACPE Northwest</a>
                </p>
            </div>

            {{slide-view slides=model.blufishSlides}}
        </div>
    </div>
    <div class="flex-100 project layout-column layout-wrap">
        <div class="flex-100">
            <div class="content">
                <h1>Agilestimate</h1>
                <p>
                    Built upon the idea of Agile Planning Poker, Agilestimate aims to provide an easy service for securely generating estimates from team members. This is another ongoing project, 
                    Take a peek at: <a href="http://agilestimate.com/" target="_blank">Agilestimate</a>
                </p>
            </div>
            
            {{slide-view slides=model.agilestimateSlides}}
        </div>
    </div>
</div>
