{{outlet}}
<div class="layout-row layout-wrap projects">
    <div class="flex-100 project layout-column layout-wrap">
        <div class="flex-100">
            <div class="content">
                <h1><a href="https://github.com/KashubaK/Lively" target="_blank">Lively</a></h1>
                <p>Thanks to a pre-built back-end architecture and project structure, building sophisticated apps capable of real-time event handling and easy Web API construction is simple and quick. Lively is my first open-source project, and my personal goal is to bridge the gap between back-end and front-end development by providing a simple interface between them.</p>
            </div>

            {{slide-view slides=model.livelySlides}}
        </div>
    </div>
    <div class="flex-100"></div>
</div>